/* style.css */

* {
    box-sizing: border-box;
    font-family: Arial, "Times New Romam", Georgia, sans-serif;
    margin: 0;
}

.hero {
    background-color: #1F2937;
    padding: 10px 200px;
}

.header {
    display: flex;
    gap: 20px;
}

.logotext {
    flex: 1 1 0;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.linkstext {
    display: flex;
    gap: 20px;
}

.linkstext a {
    flex: 1 1 auto;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
}

.content {
    display: flex;
    gap: 50px;
    padding: 100px 0;
}

.contentleft, .contentright {
    flex: 1 1 0;
}

.contentright {
    display: flex;
    align-items: center;
    justify-content: center;

    color: #F9FAF8;
    background-color: #76767c;
}

.maintext h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

.secondarytext1 {
    color: #E5E7EB;
    font-size: 18px;
    margin-bottom: 10px;
}

.button button {
    padding: 6px 30px;
    border: none;
    border-radius: 8px;

    color: #F9FAF8;
    background-color: #3882F6;
    font-size: 18px;
    font-weight: bold;
}


.info {
    padding: 50px 200px;
}

.infotext h2 {
    text-align: center;

    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
}

.infocontainer {
    display: flex;
    justify-content: center;
    padding: 50px 80px;
    gap: 40px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.ilustration {
    aspect-ratio: 1/1;

    border: solid 4px;
    border-radius: 15px;
    border-color: #3882F6;
}

.secondarytext2 {
    text-align: center;

    color: #626268;
    font-size: 18px;
    margin-top: 10px;
}